
!C:\Git\redPitayaFpga\prj\v0.94\project\redpitaya.srcs\sources_1\imports\redPitayaFpga\*

axi4lite.rst

Makefile

red_pitaya_average_filter_Z10.tcl

red_pitaya_hsi_dts.tcl

red_pitaya_hsi_fsbl.tcl

red_pitaya_vivado_project_Z10.tcl

red_pitaya_vivado_project_Z20_14.tcl

red_pitaya_vivado_project_Z20_250.tcl

red_pitaya_vivado_project_Z20_4.tcl

red_pitaya_vivado_project_Z20.tcl

red_pitaya_vivado_Z10_4_test.tcl

red_pitaya_vivado_Z10.tcl

red_pitaya_vivado_Z20_14.tcl

red_pitaya_vivado_Z20_250.tcl

red_pitaya_vivado_Z20_4.tcl

red_pitaya_vivado_Z20.tcl

synCheck.sh

tbn/acq_tb.sv

tbn/asg_tb.sv

tbn/axi_bus_model.sv

tbn/axi_master_model.sv

tbn/axi4_lite_master.sv

tbn/axi4_slave_tb.sv

tbn/axi4_stream_cnt_tb.sv

tbn/axi4_stream_drn.sv

tbn/axi4_stream_pkg.sv

tbn/axi4_stream_src.sv

tbn/axi4_sync.sv

tbn/ctrg_tb.sv

tbn/debounce_tb.sv

tbn/gen_tb.sv

tbn/gpio_tb.sv

tbn/id_tb.sv

tbn/la_trg_tb.sv

tbn/lin_add_tb.sv

tbn/osc_trg_tb.sv

tbn/pwm_tb.sv

tbn/red_pitaya_daisy_tb.sv

tbn/red_pitaya_pid_tb.sv

tbn/red_pitaya_pll_tb.sv

tbn/rle_tb.sv

tbn/scope_dec_avg_tb.sv

tbn/scope_filter_tb.sv

tbn/str_dec_tb.sv

tbn/str2mm_tb.sv

tbn/sys_bus_model.sv

vivado_1204.backup.jou

vivado_1204.backup.log

vivado_28620.backup.jou

vivado_28620.backup.log

vivado_40184.backup.jou

vivado_40184.backup.log

vivado_40620.backup.jou

vivado_40620.backup.log

vivado_46656.backup.jou

vivado_46656.backup.log

vivado_pid28620.str

vivado_pid40620.str

vivado_pid50784.str

vivado.jou

vivado.log

src/

sim/

dts_250/

dts_250a/

dts_uboot/

prj/

dts/

doc/

brd/

archive/

rtl/

rtl_250/

sdc/

sdc_250/
